.nav-link {
  color: #fff;
  font-size: 14px;
  padding: 30px 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

header .navbar {
  background-color: black;
}
a:hover {
  color: #d13b00;
  text-decoration: none;
}
footer {
  background-color: black;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

.navbar {
  background-color: white;
}

.blog_item_img {
  position: relative;
}

.blog_item_img .blog_item_date {
  position: absolute;
  bottom: -10px;
  left: 10px;
  display: block;
  color: #fff;
  background-color: #ff4800;
  padding: 8px 15px;
  border-radius: 5px;
}

.blog_item_img .blog_item_date h3 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.2;
}

.blog_item_img .blog_item_date p {
  font-size: 18px;
  margin-bottom: 0;
  color: #fff;
}

.blog_content {
  border: 2px solid red;
}
.articles-section {
  border: 2px solid blue;
}

.card-img-top {
  position: relative;
}

.card-img-top .post_date {
  position: absolute;
  bottom: -10px;
  left: 10px;
  display: block;
  color: #fff;
  background-color: #ff4800;
  padding: 8px 25px;
  border-radius: 5px;
}

.card-img-top .post_date h3 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.2;
}

.card-img-top .post_date p {
  font-size: 18px;
  margin-bottom: 0;
  color: #fff;
}

.pagination > li > a {
  background-color: white;
  color: #dc3545;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: black;
  background-color: #eee;
  border: none;
}

.pagination > .active > a {
  color: white;
  background-color: #dc3545 !important;
  border: none;
}

.pagination > .active > a:hover {
  background-color: #dc3545 !important;
  border: none;
}

.recent-post-image {
  height: 100px;
  width: 100px;
  border: 2px solid green;
}
