@import url("https://fonts.googleapis.com/css?family=Alata|Bree+Serif|Calistoga|Merriweather+Sans|Montserrat&display=swap");

.transparent {
  background: transparent;
}
/* fonts classes */
.roboto {
  font-family: "Roboto", sans-serif;
}
.roboto-md {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.robot-lg {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
}
.lato {
  font-family: "Lato", sans-serif;
}
.lato-lg {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
}
.lato-md {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}
.anton {
  font-family: "Anton", sans-serif;
}
.anton-lg {
  font-family: "Anton", sans-serif;
  font-size: 2.5rem;
}
.abril {
  font-family: "Abril Fatface", cursive;
}
.abril-md {
  font-family: "Abril Fatface", cursive;
  font-size: 1.5rem;
}
.abril-lg {
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
}
.lobster {
  font-family: "Lobster", cursive;
}

.lobster-lg {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
}
.lobster-md {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
}

.VT323 {
  font-family: "VT323", monospace;
}

.merriweather {
  font-family: "Merriweather Sans", sans-serif;
}
.bree {
  font-family: "Bree Serif", serif;
}
.alata {
  font-family: "Alata", sans-serif;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.calistoga {
  font-family: "Calistoga", cursive;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

header .nav-link {
  color: #fff;
  font-size: 14px;
  padding: 30px 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

header .navbar {
  background-color: black;
}
a:hover {
  color: #d13b00;
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
}
footer a.nav-link {
  color: white;
  margin: 0;
  padding: 0;
}
footer a.nav-link:hover {
  color: red;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

.navbar {
  background-color: white;
}

.blog_item_img {
  position: relative;
}

.blog_item_img .blog_item_date {
  position: absolute;
  bottom: -10px;
  left: 10px;
  display: block;
  color: #fff;
  background-color: #ff4800;
  padding: 8px 15px;
  border-radius: 5px;
}

.blog_item_img .blog_item_date h3 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.2;
}

.blog_item_img .blog_item_date p {
  font-size: 18px;
  margin-bottom: 0;
  color: #fff;
}

.card-img-top {
  position: relative;
}

.card-img-top .post_date {
  position: absolute;
  bottom: -10px;
  left: 10px;
  display: block;
  color: #fff;
  background-color: #ff4800;
  padding: 8px 25px;
  border-radius: 5px;
}

.card-img-top .post_date h3 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.2;
}

.card-img-top .post_date p {
  font-size: 18px;
  margin-bottom: 0;
  color: #fff;
}
.card-body a {
  color: rgba(0, 0, 0, 0.8);
}
.card-body a:hover {
  color: #ff4800;
}
.widgets li a {
  color: rgba(0, 0, 0, 0.5);
}
.widgets a:hover {
  color: #ff4800;
}
.media-body a {
  color: rgba(0, 0, 0, 0.8);
}
.pagination > li > a {
  background-color: white;
  color: #dc3545;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: black;
  background-color: #eee;
  border: none;
}

.pagination > .active > a {
  color: white;
  background-color: #dc3545 !important;
  border: none;
}

.pagination > .active > a:hover {
  background-color: #dc3545 !important;
  border: none;
}

#blog-author .media > img {
  height: 100px;
  width: 100px;
  margin: 0 1rem 0 0;
  border-radius: 100%;
}
.media > img {
  height: 90px;
  width: 90px;
}

.icon {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
